footer {
    background-color: #495E57;
    padding: 1.5rem;
}

footer p {
    color: #EDEFEE;
    font-family: Karla;
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    justify-content: center;
}