html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
}



/* Header.js */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBE5E5;
    padding: 1.25rem 3rem;
}

/* Nav.js */
.menu_icon {
    display: block;
    cursor: pointer;
}
.bar {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #333333;
    margin: 0.3rem 0;
}
.nav-links {
    display: none;
}
.nav-links.visible {
    flex-direction: column;
    position: absolute;
    top: 5.1rem;
    right: 0;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 1000;
}
.nav-links li {
    line-height: 5;
}
.nav-links a {
    color: #EBE5E5;
    font-family: Karla;
    font-size: 1rem;
    font-weight: 600;
}
.nav-links a:hover {
    color: rgba(235, 229, 229, 0.7)
}

/* Main.js */
.banner {
    background-color: #495E57;
    height: 23.7rem;
    padding: 3rem;
    justify-content: center;
    text-align: center;
  }
.banner-title {
    color: #F4CE14;
    font-size: 3rem;
    font-weight: normal;
    font-family: Inter;
}
.banner-subtitle {
    color: #EDEFEE;
    font-size: 2rem;
    font-weight: normal;
    font-family: Inter;
    padding: 1.25rem 0;
}
.banner-description {
    color: #EDEFEE;
    font-size: 1.3em;
    font-weight: normal;
    font-family: Inter;
    line-height: 2;
    padding-bottom: 2rem;
}
.reserve-button {
    color: #333333;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: Inter;
    background-color: #F4CE14;
    height: 4.5rem;
    width: 15.5rem;
    border-radius: 1rem;
    border: none;
}
.reserve-button:hover {
    cursor: pointer;
}
.restauranfood-img {
    display: none;
}
.special-menu {
    height: 100%;
    padding: 3rem;
    background-color: #EBE5E5;
}
.special-menu-title {
    color: #333333;
    font-size: 3em;
    font-weight: 500;
    font-family: Markazi;
    text-align: center;
    margin: 6rem 0;
}
.dish-card {
    width: 100%;
    height: 28rem;
    background-color: #EDEFEE;
    margin-bottom: 5vh;
}
.dish-card:last-child {
    margin-bottom: 0;
}
.dish-image{
    width: 100%;
    height: 15.5rem;
    object-fit: cover;
    object-position: center;
}
.info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1em 1.5em;
}
.dish-title {
    font-family: Karla;
    color: #333333;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 1em;
}
.dish-pricing {
    font-family: Karla;
    color: #FF0303;
    font-size: 1rem;
    font-weight: 500;
}
.dish-description {
    font-family: Karla;
    color: #333333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 1.5em;
}
footer {
    background-color: #495E57;
    padding: 1.5rem;
}
footer p {
    color: #EDEFEE;
    font-family: Karla;
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    justify-content: center;
}

.booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-form{
    align-items: center;
}


@media (min-width: 960px) {
    /* Nav.js */
    .nav-links {
        display: flex;
        transition: all 0.5 ease-in-out;
    }
    .nav-links li {
        padding: 0 0.6rem;
        line-height: 0;
    }
    .nav-links a {
        color: #333333;
    }
    .nav-links a:hover {
        color: rgba(51, 51, 51, 0.5)
    }
    .menu_icon{
        display: none;
    }
    .banner {
        display: flex;
        height: 25rem;
        justify-content: space-between;
        text-align: left;
    }
    .banner-description {
        width: 20em;
    }
    .restauranfood-img{
        display: flex;
        height: 80vh;
        border-radius: 5%;
    }
    .special-menu-title {
        text-align: left;
        margin-top: 6rem;
    }
    .dish-lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dish-card {
        width: 25vw;
        height: 30rem;
        margin: 3rem 0;
        background-color: #EDEFEE;
    }
}